[submodule "sources/i3-gaps"]
	path = sources/i3-gaps
	url = https://www.github.com/Airblader/i3
[submodule "sources/termite"]
	path = sources/termite
	url = https://github.com/thestinger/termite.git
[submodule "sources/vte-ng"]
	path = sources/vte-ng
	url = https://github.com/thestinger/vte-ng.git
